# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [ ]:
"Blanca"

## Use the following cells to test your solution:

In [1]:
def group(arr, idx):

SyntaxError: invalid syntax (442516982.py, line 3)

In [8]:
print(arr)

[[1, 6, 2, 10], [8, 9, 4, 11], [9, 8, 7, 12], [1, 6, 3, 20]]

In [10]:
print(idx)

[0, 1]

In [7]:
result={}       #diccionario vacio para intro del resultado
    
for row in arr:
        
    # Crear key por el que se agrupara - the groups as a tuple
    key = tuple(row[i] for i in idx)
    
    print(key)
    type(key)

(1, 6)
(8, 9)
(9, 8)
(1, 6)

In [18]:
 #Acceder a los valores q no estÃ¡n en idx - para obtener the aggregated sums
    
valores_suma = []

for i in range(len(row)):
    if i not in idx:
        valores_suma.append(row[i])

In [19]:
valores_suma

[3, 20]

In [ ]:
 #Sumar los valores_suma
    for

In [2]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]

group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}

NameError: name 'group' is not defined

In [ ]:
group([[1,2,3],[1,5,6],[1,8,9]],[0]), {(1,): [15, 18]})
[1,2,3]
[1,5,6]
[1,8,9]

In [ ]:
group([[1,1,1],[1,2,1],[1,3,1]],[0,2]), {(1, 1): [6]})
[1,1,1]
[1,2,1]
[1,3,1]

In [ ]:
group([[1,2,3],[4,5,6],[6,7,8]],[0,1,2]), {(1, 2, 3): [], (4, 5, 6): [], (6, 7, 8): []})
[1,2,3]
[4,5,6]
[6,7,8]

## Copy your submited solution here: