# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [ ]:
Martín González

## Use the following cells to test your solution:

In [ ]:
#Parameters: arr, idx idx-> the number of column wher you have to group
#Return: dictionary group as tuples

In [26]:
def group(arr, idx):
    dict = {}
    for x in len(arr):
        print(arr[x])
        print(arr[idx[0]][0])
    
    return dict

In [92]:
arr = [[1,2,3],[1,5,6],[1,8,9]]
idx = [0,1,2 ]
dict_final = {}
for x in range(len(arr)):
    if x < len(idx):
        print("Column " + str(x) + "---> ")
        for y in range(len(arr[x])):
            print(arr[y][idx[x]])

Column 0--->
1
1
1
Column 1--->
2
5
8
Column 2--->
3
6
9

In [76]:
for x in range(len(arr)):
    for y in idx:
        print(arr[x][y])

1
2
1
5
1
8

In [104]:
arr = [[1,2,3],[1,5,6],[1,8,9]]
idx = [0,1]
dict_final = {}

for x in range(len(arr)):
    equal = True
    if x < len(idx):
        print("Column " + str(x) + " ---> ")
        for y in range(len(arr[x])):
            print(arr[y][idx[x]])
            if arr[y][idx[x]] != arr[y - 1][idx[x]]:
                equal = False
        if equal == False:
            for z in range(len(arr[x])):
                sum += arr[z][idx[x]]

Column 0 --->
1
1
1
True
Column 1 --->
2
5
8
False

1
2
3
1
5
6
1
8
9

In [27]:
group([[1,2,3],[1,5,6],[1,8,9]],[0])

TypeError: 'int' object is not iterable

## Copy your submited solution here: