# Kata:

https://www.codewars.com/kata/5dac87a0abe9f1001f39e36d/train/sql

## Your name or team members:

In [ ]:
Blanca

## Use the following cells to test your solution:

In [ ]:
# product name
products.name AS product_name

In [ ]:
#Para sacar la info de fechas

SELECT 
EXTRACT(YEAR FROM sales.date) AS year,
EXTRACT(MONTH FROM sales.date) AS month,
EXTRACT(DAY FROM sales.date) AS day

FROM sales

LIMIT 10;

In [ ]:
#total 
SUM(products.price * sales_details.count) as total

In [ ]:
#join 

SELECT *
FROM sales
JOIN sales_details ON sales.id = sales_details.sale_id
JOIN products ON sales_details.product_id = products.id
LIMIT 10;

In [ ]:
#USAR ROLLUP

## Copy your submited solution here:

In [ ]:
SELECT 

products.name AS product_name,
EXTRACT(YEAR FROM sales.date) AS year,
EXTRACT(MONTH FROM sales.date) AS month,
EXTRACT(DAY FROM sales.date) AS day,
SUM(products.price * sales_details.count) as total
    
FROM sales
JOIN sales_details ON sales.id = sales_details.id
JOIN products ON sales.id = products.id

GROUP BY
product_name,
year,
month,
day

ORDER BY
product_name,
year,
month,
day;